{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Changed - CineBook</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="mmt-auth-page">

    <!-- TOP HEADER -->
    <header class="mmt-header">

        <a href="{% url 'home' %}" class="mmt-logo">
            🎬 <span>Cine<span>Book</span></span>
        </a>

        <div class="mmt-header-right">
            <span>🎟️ Book Movies Easily</span>
        </div>

    </header>


    <!-- MAIN -->
    <main class="mmt-auth-main">

        <div class="mmt-auth-card">

            <div class="mmt-card-top">

                <h1>Password Changed!</h1>

                <p>
                    Your CineBook password has been successfully changed.
                </p>

            </div>


            <div class="mmt-register-text">

                <p>
                    ✅ You can now login using your new password.
                </p>

                <br>

                <a
                    href="{% url 'login' %}"
                    class="mmt-primary-btn"
                >
                    Login to CineBook
                </a>

            </div>

        </div>

    </main>


    <!-- FOOTER -->
    <footer class="mmt-footer">

        © 2026 CineBook · Your Movie Booking Partner

    </footer>

</body>

</html>